extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='post')
    p restuarant rating app
    div
        input(type='text', name='username')
        input(type='submit', value='Log In')